<div class="link-wrapper-mobile">
    <ul class="link">
        <!--  
        <li>
            <a href="https://pechajobs.github.io/language"><i class="fas fa-chalkboard-teacher"></i> </a>
        </li>
        -->
        <li>
            <a href="https://pechajobs.github.io/diplomatic"><i class="fas fa-clone"></i> Diplomatic e-texts</a>
        </li>
        <li>
        <li>
            <a href="https://pechajobs.github.io/vulgate"><i class="fas fa-check-double"></i> Vulgate e-texts</a>
        </li>
        <li>
        <li>
            <a href="https://pechajobs.github.io/critical"><i class="fas fa-edit"></i> Critical edition</a>
        </li>
        <li>
        <li>
            <a href="https://pechajobs.github.io/resources"><i class="fas fa-puzzle-piece"></i> Resource sourcing</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/citation"><i class="fas fa-quote-right"></i> Citation Identification</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/corpus"><i class="fas fa-clone"></i> Corpus building</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/commentary"><i class="fas fa-link"></i> Commentary linking</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/tm"><i class="fas fa-language"></i> Translation linking</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/app"><i class="fas fa-mobile-alt"></i> Reading Apps</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/cat"><i class="fas fa-cat"></i> CAT support</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/input"><i class="fas fa-keyboard"></i> Input</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/proofreading"><i class="fas fa-spell-check"></i> Proofreading</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/transcription"><i class="fas fa-file-audio"></i> Transcription</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/annotations"><i class="fas fa-tags"></i> Text labeling</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/labeling"><i class="fas fa-draw-polygon"></i> Image labeling</a>
        </li>
        <!--  
        <li>
            <a href="https://pechajobs.github.io/teacher"><i class="fas fa-user-plus"></i> དགེ་རྒན་དཀར་ཆག་གི་འགེང་ཤོག</a>
        </li>
        -->
    </ul>

</div>
