<div class="link-wrapper">
    <style scoped>
        ul.link a {
            color: var(--clr-h1-and-bold);
            text-decoration: none;
        }
        
        ul.link a:hover,
        a:focus {
            color: var(--clr-a-text-hvr);
        }
    </style>
    <!-- <ul class="link">
        <li><a href="https://github.com/pechajobs" rel="author"><i class="fab fa-github"></i> GitHub</a></li>
    </ul> -->
    <br>
    <p class="view">Our Services:</p>

    <!-- https://fontawesome.com/v5/search -->        
    <ul class="toc-link">
        <li>
            <a href="https://pechajobs.github.io/input"><i class="fad fa-typewriter"></i> Input</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/transcription"><i class="fas fa-tv-music"></i> Transcription</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/data-preparation"><i class="fas fa-book-spells"></i> Best Copy Creation</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/linking"><i class="fad fa-book-open"></i> Linking Commentary</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/linking"><i class="fad fa-language"></i> Linking Translation</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/labeling"><i class="fad fa-tags"></i> Text Labeling</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/labeling"><i class="fad fa-draw-polygon"></i> Image Labeling</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/proofreading"><i class="fad fa-spell-check"></i> Proofreading</a>
        </li>
    </ul>
</div>
