<div class="link-wrapper">
    <style scoped>
        ul.link a {
            color: var(--clr-h1-and-bold);
            text-decoration: none;
        }
        
        ul.link a:hover,
        a:focus {
            color: var(--clr-a-text-hvr);
        }
    </style>
    <!-- <ul class="link">
        <li><a href="https://github.com/pechajobs" rel="author"><i class="fab fa-github"></i> GitHub</a></li>
    </ul> -->
    <br>
    <p class="view">Our Language Services:</p>

    <!-- https://fontawesome.com/v5/search?o=r&m=free -->        
    <ul class="link">
        <li>
            <a href="https://pechajobs.github.io/versions"><i class="fas fa-search"></i> Version sourcing</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/resources"><i class="fas fa-puzzle-piece"></i> Resource sourcing</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/generic"><i class="fas fa-book"></i> Generic e-text creation</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/citation"><i class="fas fa-quote-right"></i> Citation Identification</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/corpus"><i class="fas fa-clone"></i> Corpus building</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/commentary"><i class="fas fa-link"></i> Commentary linking</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/tm"><i class="fas fa-language"></i> Translation linking</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/app"><i class="fas fa-mobile-alt"></i> App development</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/input"><i class="fas fa-keyboard"></i> Input</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/proofreading"><i class="fas fa-spell-check"></i> Proofreading</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/transcription"><i class="fas fa-file-audio"></i> Transcription</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/annotations"><i class="fas fa-tags"></i> Text labeling</a>
        </li>
        <li>
            <a href="https://pechajobs.github.io/labeling"><i class="fas fa-draw-polygon"></i> Image labeling</a>
        </li>
    </ul>
</div>
